// Font Family
$main-font: 'Didact Gothic', sans-serif;
$headding-font: 'Didact Gothic', sans-serif;



// Colors
$cl-black: #07485e;
$cl-black-2: #263845;
$cl-white: #ffffff;
$cl-primary: #24D8CB;
$cl-blue: #30336b;
$cl-blue-2: #130f40;
$cl-green: #86BC42;
$cl-mint: #17c0eb;
$cl-yellow: #ffc048;
$cl-yellow-2: #FFC38D;
$cl-violet: #7e30e4;
$cl-red: #e83b3b;
$cl-gray: #eaeaea;




// Social Colors
$cl-facebook : #3B5999;
$cl-twitter : #55ACEE;
$cl-instagram : #F5214A;
$cl-youtube : #CD201F;
$cl-pinterest : #BD081C;
$cl-linkedin : #0077B5;

$facebook-bg : #3B5999;
$twitter-bg : #55ACEE;
$instagram-bg : #F5214A;
$youtube-bg : #CD201F;
$pinterest-bg : #BD081C;
$linkedin-bg : #0077B5;
$google-plus-bg : #DD5144;









