
/*** 

==================
    Color Classes
==================

***/

.cl-black {
    color: $cl-black;
}
.cl-primary {
    color: $cl-primary;
}
.cl-white {
    color: $cl-white;
}
.cl-blue {
    color: $cl-blue;
}
.cl-blue-2 {
    color: $cl-blue-2;
}
.cl-green {
    color: $cl-green;
}
.cl-mint {
    color: $cl-mint;
}
.cl-yellow {
    color: $cl-yellow;
}
.cl-red {
    color: $cl-red;
}



.cl-facebook {
    color: $cl-facebook;
}

.cl-twitter {
    color: $cl-twitter;
}

.cl-youtube {
    color: $cl-youtube;
}

.cl-pinterest {
    color: $cl-pinterest;
}

.cl-instagram {
    color: $cl-instagram;
}


.facebook-bg {
    background: $facebook-bg;
}

.twitter-bg {
    background: $twitter-bg;
}

.youtube-bg {
    background: $youtube-bg;
}

.pinterest-bg {
    background: $pinterest-bg;
}

.google-plus-bg {
    background: $google-plus-bg;
}

.linkedin-bg {
    background: $linkedin-bg;
}

.instagram-bg {
    background: $instagram-bg;
}




/*** 

==================
    Section Styles
==================

***/

.container {
    max-width: 1200px;
}


.container-fluid {
    padding: 0 150px;
    @media(max-width: 991px) {
        padding-right: 15px;
        padding-left: 15px;
    }
}

.section-padding {
    padding: 100px 0;
}

.section-padding-2 {
    padding-top: 100px;
    padding-bottom: 70px;
}

.section-padding-3 {
    padding-top: 100px;
    padding-bottom: 40px;
}


.section-title {
    margin-bottom: 40px;
    h4 {
        font-size: 16px;
        margin-bottom: 5px;
        color: $cl-primary;
        text-transform: uppercase;
        font-weight: 300;
        letter-spacing: 1px;
        display: inline-block;
    }
    h2 {
        position: relative;
        font-size: 42px;
        line-height: 1.4;
        z-index: 1;
        text-transform: capitalize;
        display: block;
    }
}






@media (max-width: 575px){
    .section-title h2 {
        font-size: 32px;
    }
}
@media (max-width: 450px){
    .section-title h2 {
        font-size: 32px;
    }
}




/*** 

=======================
    Margin and Padding
=======================

***/

/* 
    Margin Top styles
*/

.mar-0 {
    margin: 0;
}
.mt-10 {
    margin-top: 10px;
}
.mt-20 {
    margin-top: 20px;
}
.mt-30 {
    margin-top: 30px;
}
.mt-40 {
    margin-top: 40px;
}
.mt-50 {
    margin-top: 50px;
}
.mt-60 {
    margin-top: 60px;
}


/* 
    Margin Bottom Styles
*/

.mb-10 {
    margin-bottom: 10px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-30 {
    margin-bottom: 30px;
}
.mb-40 {
    margin-bottom: 40px;
}
.mb-50 {
    margin-bottom: 50px;
}
.mb-60 {
    margin-bottom: 60px;
}



/* 
    Margin Right Styles
*/

.mr-10 {
    margin-right: 10px;
}
.mr-20 {
    margin-right: 20px;
}
.mr-30 {
    margin-right: 30px;
}
.mr-40 {
    margin-right: 40px;
}
.mr-50 {
    margin-right: 50px;
}
.mr-60 {
    margin-right: 60px;
}


/* 
    Padding Top Styles
*/

.pad-0 {
    padding: 0;
}
.pt-10 {
    padding-top: 10px;
}
.pt-20 {
    padding-top: 20px;
}
.pt-30 {
    padding-top: 30px;
}
.pt-40 {
    padding-top: 40px;
}
.pt-50 {
    padding-top: 50px;
}
.pt-60 {
    padding-top: 60px;
}


/* 
    Padding Bottom Styles
*/

.pb-10 {
    padding-bottom: 10px;
}
.pb-20 {
    padding-bottom: 20px;
}
.pb-30 {
    padding-bottom: 30px;
}
.pb-40 {
    padding-bottom: 40px;
}
.pb-50 {
    padding-bottom: 50px;
}
.pb-60 {
    padding-bottom: 60px;
}




/*** 

============================
    Background and Overlay
============================

***/

.gray-bg {
    background: #F9F9F9;
}

.black-bg {
    background: #292929;
}

.black-bg-2 {
    background: #555555;
}

.primary-bg {
    background: $cl-primary;
}

.light-primary-bg {
    background: rgba($cl-primary, $alpha: 0.07);
}

.primary-light-bg {
    background: #00C9B72c;
}

.primary-bg-dark {
    background: #037EBD;
}

.white-bg {
    background: #ffffff;
}


.blue-bg {
    background: $cl-blue;
}

.light-blue-bg {
    background: #234BA5;
}

.green-bg {
    background: $cl-green;
}

.blue-bg-2 {
    background: $cl-blue-2;
}

.red-bg {
    background: $cl-red;
}

.yellow-bg {
    background: $cl-yellow;
}

.yellow-light-bg {
    background: #e9eef7;
}

.purple-bg {
    background: #8E0EF0;
}

.purple-light-bg {
    background: #E8CFFC;
}

.mint-bg {
    background: $cl-mint;
}

.transparent-bg {
    background: transparent;
}




.dark-overlay {
    background-size: cover !important;
    position: relative;
    z-index: 1;
}

.dark-overlay:after {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: $cl-black;
    content: "";
    z-index: -1;
    opacity: .6;
}



.blue-overlay {
    background-size: cover !important;
    position: relative;
    z-index: 1;
}

.blue-overlay:after {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: $cl-blue-2;
    content: "";
    z-index: -1;
    opacity: .9;
}


.gradient-overlay {
    background-size: cover !important;
    position: relative;
    z-index: 1;
}

.gradient-overlay:after {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, #e63b82 0%, #46126d 100%);
    content: "";
    z-index: -1;
    opacity: .9;
}


.gradient-overlay-2 {
    background-size: cover !important;
    position: relative;
    z-index: 1;
}

.gradient-overlay-2:after {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, #463afe 0%, #3ab5e4 100%);
    content: "";
    z-index: -1;
    opacity: .85;
}



.shaded-bg {
    position: relative;
    overflow: hidden;
    z-index: 1;
    &::after {
        height: 100%;
        width: 100%;
        position: absolute;
        background: rgba($cl-blue-2, $alpha: 0.4);
        content: "";
        top: 0;
        left: 0;
        transform: skewX(-40deg);
        z-index: -1;
    }
}



/*** 

===================
    Buttons Style
===================

***/


.bttn-mid {
    position: relative;
    font-size: 14px;
    font-weight: 700;
    padding: 14px 40px;
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.4s;
    font-family: $headding-font;
}



.bttn-small {
    position: relative;
    font-size: 12px;
    font-weight: 700;
    padding: 8px 28px;
    display: inline-block;
    cursor: pointer;
    transition: 0.4s;
    font-family: $headding-font;
    text-transform: uppercase;
}

.bttn-round {
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    height: 45px;
    width: 45px;
    text-align: center;
    line-height: 45px;
    border-radius: 50%;
    text-decoration: none;
}


.bttn-mid i, .bttn-small i {
    margin-right: 7px;
}

.btn-fill {
    color: $cl-white;
    background: $cl-primary;
    &:hover {
        background: $cl-primary;
        color: $cl-white;
    }
}

.btn-fill-2 {
    color: $cl-primary;
    background: rgba($cl-primary, $alpha: 0.15);
    &:hover {
        background: $cl-primary;
        color: $cl-white;
    }
}

.bttn-mid.btn-emt {
    padding: 12px 41px;
}

.btn-emt {
    background: transparent;
    color: $cl-white;
    border: 2px solid $cl-white;
    box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.05);
    &:hover {
        color: $cl-white;
        box-shadow: none;
        background: $cl-primary;
        border: 2px solid transparent;
    }
}

.btn-wht {
    background: $cl-white;
    color: $cl-primary;
    box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.05);
    &:hover {
        background: $cl-primary;
        color: $cl-white;
    }
}

.btn-blu {
    background: $cl-blue;
    color: $cl-white;
    box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.05);
    &:hover {
        background: $cl-primary;
        color: $cl-blue;
    }
}





/* ==============================
    Preloader
    ============================== */

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: $cl-white;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid $cl-primary;
    border-color: $cl-primary transparent $cl-primary transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  


/* 
==============================
    ScrollUp Button 
============================== 
*/

a#scrollUp {
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    line-height: 55px;
    background: $cl-primary;
    text-align: center;
    color: $cl-white;
    border-radius: 50%;
    font-size: 16px;
    &:hover {
        background: $cl-black;
        color: $cl-white;
    }
}

